name: Deploy

on:
  push:
    branches:
      - main

permissions:
  contents: read
  actions: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  build-and-deploy:
    name: Build and deploy
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.11
      - name: Install dependencies
        run: pip install -r requirements.txt
      # - name: Check links
      #   run: |
      #     pip install linkcheckmd
      #     python -m linkcheckmd docs -v
      #     python -m linkcheckmd docs/get-started -v
      #     python -m linkcheckmd docs/organisation -v
      #     python -m linkcheckmd docs/resources -v
      #     python -m linkcheckmd docs/technology -v
      #     python -m linkcheckmd docs/technology/backend -v
      #     python -m linkcheckmd docs/technology/database -v
      #     python -m linkcheckmd docs/technology/frontend -v
      #     python -m linkcheckmd docs/technology/infrastructure -v
      #     python -m linkcheckmd docs/technology/standards -v
      #     python -m linkcheckmd docs/third-party -v
      #     python -m linkcheckmd docs/ways-of-working -v
      - name: Build
        run: mkdocs build
      - name: Setup Pages
        uses: actions/configure-pages@v4
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: site
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
